---
layout: page
# The Poems collection page
---

{% assign per_page = page.limit_items | default: 999 %}
{% assign all_poems = site.poems | where_exp: "item", "item.hidden != true" %}
{% assign total_poems = all_poems | size %}
{% assign total_pages = total_poems | plus: per_page | minus: 1 | divided_by: per_page %}

<div id="poems" class="pl-xl-3">
{% assign poems = all_poems | sort: "title" | group_by: "date" | sort: "name" %}
{% for date_group in poems reversed %}
  {% for poem in date_group.items %}
  {% capture poem_idx %}{% increment poem_counter %}{% endcapture %}
  {% assign page_num = poem_idx | strip | plus: per_page | divided_by: per_page %}
  <li class="d-flex justify-content-between pl-md-3 pr-md-3 poem-item" data-page="{{ page_num }}"{% unless page_num == 1 %} style="display: none !important;"{% endunless %}>
    <a href="{{ poem.url | relative_url }}">{{ site.data.locales[site.lang].titles.poem.singular }} {{ poem.title }}</a>
    <span class="dash flex-grow-1"></span>
    {% assign poem_date_str = poem.date | date: "%Y-%m-%d" %}
    {% if poem_date_str == '2000-01-01' %}
    <span class='text-muted small'>{{ site.data.locales[site.lang].archives }}</span>
    {% else %}
    {% include datetime.html date=poem.date wrap='span' class='text-muted small' %}
    {% endif %}
  </li>
  {% endfor %}
{% endfor %}

</div>

{% include client-paginator.html id="poems" total_pages=total_pages %}
