---
layout: page
refactor: true
panel_includes:
  - toc
tail_includes:
  - post-nav
---

    <div class="d-flex justify-content-start mb-3">
      <a href="{{ '/poems' | relative_url }}" class="text-muted" aria-label="{{ site.data.locales[site.lang].poems.return.title }}" title="{{ site.data.locales[site.lang].poems.return.title }}">
        <i class="fas fa-arrow-left"></i>  {{ site.data.locales[site.lang].poems.return.arrow }}
      </a>
    </div>
<h1 data-toc-skip>{{ page.title }}</h1>

<div class="post-meta text-muted">
    
    <!-- published date -->
    <span>
      {{ site.data.locales[site.lang].post.posted }}
      {% include datetime.html date=page.date tooltip=true %}
    </span>

    <!-- lastmod date -->
    {% if page.updated_at %}
    <span>
      {{ site.data.locales[site.lang].post.updated }}
      {% include datetime.html date=page.updated_at tooltip=true %}
    </span>
    {% endif %}

  <div class="d-flex justify-content-between">
    <!-- author(s) -->
    <span>
      {% if page.author %}
        {% assign authors = page.author | split: '@@@' %}
      {% elsif page.authors %}
        {% assign authors = page.authors %}
      {% endif %}


      {% if authors %}
        {% if authors.size == 1 %}
            {{ site.data.locales[site.lang].post.written_by.singular }}
        {% else %}
            {{ site.data.locales[site.lang].post.written_by.plural | default: site.data.locales[site.lang].post.written_by.singular }}
        {% endif %}
        <em>  
        {% for author in authors %}
          <a href="{{ site.data.authors[author].url }}">{{ site.data.authors[author].name }}</a>
          {% unless forloop.last %}</em>, <em>{% endunless %}
        {% endfor %}
      {% endif %}
      </em>
    </span>

    <div>
      <!-- page views -->
      {% if site.google_analytics.pv.proxy_endpoint or site.google_analytics.pv.cache_path %}
      <span>
        <em id="pv" class="pageviews">
          <i class="fas fa-spinner fa-spin fa-fw"></i>
        </em>
        {{ site.data.locales[site.lang].post.pageview_measure }}
      </span>
      {% endif %}

      <!-- read time -->
      {% include read-time.html content=content prompt=true %}
    </div>

  </div> <!-- .d-flex -->
    <!-- Image variables-->
  {% if page.image %}
    {% capture src %}src="{{ page.image.path | default: page.image }}"{% endcapture %}
    {% capture class %}class="preview-img{% if page.image.no_bg %}{{ ' no-bg' }}{% endif %}"{% endcapture %}
    {% capture alt %}alt="{{ page.image.alt | default: "Preview Image" }}"{% endcapture %}

    {% capture lqip %}
    {% if page.image.lqip %}
        lqip="{{ page.image.lqip }}"
    {% endif %}
    {% endcapture %}


  {% assign preview_aspect_ratio = page.image.aspect_ratio %}
  {% assign preview_object_fit = page.image.object_fit %}
  {% assign preview_max_width = page.image.max_width %}
  {% capture preview_style %}
    {% if preview_aspect_ratio %}--preview-aspect-ratio: {{ preview_aspect_ratio }};{% endif %}
    {% if preview_object_fit %}--preview-object-fit: {{ preview_object_fit }};{% endif %}
    {% if preview_max_width %}--preview-max-width: {{ preview_max_width }};{% endif %}
  {% endcapture %}
    {% assign preview_style_stripped = preview_style | strip %}
    {% capture style %}
    {% if preview_style_stripped != '' %}style="{{ preview_style_stripped }}"{% endif %}
    {% endcapture %}

    <!--  Image  -->
    <div class="mt-3 mb-3" {{ style | strip }}>
      <img {{ src }} {{ class }} {{ alt }} w="1200" h="630" {{ lqip | strip }}>
      {%- if page.image.alt -%}
        <figcaption class="text-center pt-2 pb-2">{{ page.image.alt }}</figcaption>
      {%- endif -%}
    </div>
  {% endif %}


</div> <!-- .post-meta -->

<div class="post-content">
  {{ content }}<br>
</div>

<div class="post-tail-wrapper text-muted">

 
    <div class="post-tail-wrapper text-muted">
      <div class="post-tail-bottom
        d-flex justify-content-between align-items-center mt-2 pb-2">
        <div class="license-wrapper">
          <a href="{{ '/poems' | relative_url }}" class="text-muted" aria-label="{{ site.data.locales[site.lang].poems.return.title }}" title="{{ site.data.locales[site.lang].poems.return.title }}">
            <i class="fas fa-arrow-left mr-2"></i>
            {{ site.data.locales[site.lang].poems.return.footer }}
          </a>
        </div>

        {% include post-sharing.html %}
      </div><!-- .post-tail-bottom -->
    </div><!-- div.post-tail-wrapper -->

</div><!-- div.post-tail-wrapper -->
