---
layout: page
# All the Tags of posts.
---

<div id="tags" class="d-flex flex-wrap ml-xl-2 mr-xl-2">

  {% assign tags = "" | split: "" %}
  {% for t in site.tags %}
    {% assign tag_name = t[0] %}
    {% assign visible_posts = site.tags[tag_name] | where_exp: "item", "item.hidden != true and item.hidden != 'true'" %}
    {% if visible_posts.size > 0 %}
      {% assign tags = tags | push: tag_name %}
    {% endif %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %}
  {% if sorted_tags.size > 0 %}
    <div class="text-muted">No tags found.</div>
  {% for t in sorted_tags %}
    {% assign visible_posts = site.tags[t] | where_exp: "item", "item.hidden != true and item.hidden != 'true'" %}
    <div>
      <a class="tag" href="{{ t | append: '' | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
        {{ t }}<span class="text-muted">{{ visible_posts.size }}</span>
      </a>
    </div>
  {% endfor %}
  {% else %}
    <div class="text-muted">{{ site.data.locales[site.lang].not_found.tags }}</div>
  {% endif %}

</div>
